
div[style] {
    border: 2px solid red;
  }
  
  /* Azonosító alapján formázás */
  #header { 
    padding: 10px;
    font-family: Arial, sans-serif;
  }
  
  /* Osztály alapján formázás */
  .menu-button {
    background-color: #4CAF50;
    color: rgb(2, 2, 2);
    padding: 10px;
    border: none;
    cursor: pointer;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  
  .menu-button:hover {
    background-color: #45a049;
  }
   
 
  .menu {
    display: flex;
  }
  
 
  body {
    background-color: #777575d5;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  a {
    color: blue;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  h2 {
    color: #656497;
  }
  
  .content {
    color: #2e2b2b;
  }
  
 